<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/lib/images/icono.ico">
    <title>Mi sorteo</title>
    <!-- Bootstrap core CSS -->
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/CSS/cover.css" rel="stylesheet">
    <!-- Import angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Javascript files -->
    <script type="text/javascript" src="/lib/main/dates.js"></script>
    <script type="text/javascript" src="/lib/main/directors.js"></script>
    <script type="text/javascript" src="/lib/main/utils.js"></script>
    <script type="text/javascript" src="/lib/main/controllers/module.js"></script>
    <script type="text/javascript" src="/lib/main/controllers/maincontroller.js"></script>
  </head>

  <body class="text-center" ng-app="myApp" ng-controller="myCtrl">
    <div class="cover-container d-flex h-100 p-10 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="nametitle text-white">HISTORIA DE LA CINEMATOGRAFÍA</h3>
        </div>
      </header>
      <br>
        <h1 class="title text-danger">ASIGNACIÓN DE DIRECTORES Y FECHAS</h1>
      </br>
      <main role="main" class="inner cover" >
          <div class="row">
            <div class="col-md-5 col-md-offset-2">
              <br>
                <div class="card">
                  <div class="card-header btn btn-outline-success" ng-click="directorFunction()">OBTENER DIRECTOR</div>
                  <div class="card-body bg-dark text-white">{{ director }}</div>
                </div>
              </br>
            </div>
            <div class="col-md-2 col-md-offset-2">
            </div>
            <div class="col-md-5 col-md-offset-4">
              <br>
                <div class="card">
                  <div class="card-header btn btn-outline-success" ng-click="dateFunction()">OBTENER FECHA</div>
                  <div class="card-body bg-dark text-white">{{ date }}</div>
                </div>
              </br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-offset-2">
              <br>
                <div class="card">
                  <div class="card-header btn btn-outline-success" ng-click="resetNumber()">RESETEAR NÚMERO</div>
                  <input class="card-body bg-dark text-white" style="text-align:center;" type="number" ng-model="originalNumber" ng-change="setNumber()" placeholder="INTRODUCE Nº DE ALUMNOS"></input>
                </div>
              </br>
            </div>
            <div class="col-md-2 col-md-offset-2">
            </div>
            <div class="col-md-5 col-md-offset-4">
              <br>
                <div class="card">
                  <div class="card-header btn btn-outline-success" ng-click="numberFunction()">OBTENER NÚMERO</div>
                  <div class="card-body bg-dark text-white">{{ number }}</div>
                </div>
              </br>
            </div>
          </div>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="btn btn-danger" ng-click="resetFunction()">REINICIAR VALORES</div>
        <br><div></div></br>
        <audio class="audio" src="/lib/music/theme.mp3" autoplay controls loop></audio>
        <div class="inner">
          <p align="right"> &copy;ESMAR 2021</p>
        </div>
      </footer>
    </div>
    <script src="/CSS/bootstrap.min.js"></script>
  </body>
</html>



